import(methods)                                                                                                                                        
importMethodsFrom(GenomicRanges, findOverlaps)
importClassesFrom(GenomicRanges, GRanges)
importMethodsFrom(GenomicRanges, as.data.frame)

exportClasses(
        CnvGSAOutput,
        CnvGSAInput
)

export(
        cnvGSAlogRegTest,
        cnvGSAgsTables,
        cnvGSAIn,

        f.enrFiles,
        f.makeViz,

        CnvGSAInput,
        config.ls, "config.ls<-",
        params.ls, "params.ls<-",
        cnvData.ls, "cnvData.ls<-",
        phData.ls, "phData.ls<-",
        gsData.ls, "gsData.ls<-",
        CnvGSAOutput,
        res.ls,
        gsTables.ls,
        config.df
)

exportMethods(
        config.ls, "config.ls<-",
        params.ls, "params.ls<-",
        cnvData.ls, "cnvData.ls<-",
        phData.ls, "phData.ls<-",
        gsData.ls, "gsData.ls<-",
        res.ls,
        gsTables.ls,
        config.df
)
